.counter {
	border: 1px solid black;
	max-width: 600px;
    margin: auto;
	margin-top: 15px;
	padding: 100px 300px;
    background-color: rgb(85, 85, 85);
}
.counter button {
    background-color: blueviolet;
    padding: 40px;
    cursor: pointer;
}
.counter button:hover{
    background-color: rgb(164, 211, 211);
}
.clockControl {
  text-decoration: underline;
  cursor: pointer;
}